Repository m10maeda/monorepo-example: changes, and which CircleCI parameters are due for each by the changed paths.
All: root, backend, frontend

ci: add build job
  .circleci/continue_config.yml
Due: root

ci: update circleci config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: root

chore: update npm-scripts
  .circleci/continue_config.yml
  package.json
  packages/backend/package.json
  packages/frontend/package.json
Due: root, backend, frontend

ci: fix step
  .circleci/continue_config.yml
Due: root

ci: fix workflow condition
  .circleci/config.yml
  .circleci/continue_config.yml
Due: root

chore: failure
  commitlint.config.js
  packages/backend/src/app.controller.spec.ts
  packages/frontend/__tests__/pages/index.test.tsx
Due: root, backend, frontend

chore: add success tests
  packages/backend/src/app.controller.spec.ts
  packages/frontend/__tests__/pages/index.test.tsx
Due: backend, frontend

Path conditions:
  root: any of: ^(?!packages\/).*
  backend: any of: packages/backend/.*
  frontend: any of: packages/frontend/.*
